##数据容器

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [136]:
import pandas as pd
import numpy as np
from numpy import  *
import matplotlib.pylab as plt
from matplotlib.pylab import *
from pandas import Series,DataFrame,Index

In [14]:
Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a    1.564671
b   -0.804133
c    0.954703
d   -0.867762
e   -1.029584
dtype: float64

In [21]:
Series({'a' : 0., 'b' : 1., 'c' : 2.})

a    0
b    1
c    2
dtype: float64

In [30]:
a=Series({'a' : 0., 'b' : 1., 'c' : 2., 'd' : 3.}, index=['b', 'c', 'd', 'a'])
a

b    1
c    2
d    3
a    0
dtype: float64

In [31]:
a[0]

1.0

In [32]:
a['b']

1.0

In [212]:
a[0:6:2]

b    1
d    3
dtype: float64

##Concatenate

In [215]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [222]:
df1.to_csv("df1.txt")

In [223]:
!cat df1.txt

,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3

In [42]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [44]:
 df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                     index=[8, 9, 10, 11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [40]:
 pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [45]:
pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [47]:
 df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],   
                     'D': ['D2', 'D3', 'D6', 'D7'],   
                     'F': ['F2', 'F3', 'F6', 'F7']},  
                         index=[2, 3, 6, 7])   
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [48]:
 pd.concat([df1, df4], axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [49]:
pd.concat([df1, df4], axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [50]:
pd.concat([df1, df4], axis=1, join_axes=[df1.index])

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [51]:
df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [52]:
df1.append(df2).append(df3)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [53]:
df1.append(df4)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [54]:
df1.append([df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [55]:
pd.concat([df1, df4], ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [56]:
df1.append(df4, ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

##添加列

In [62]:
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')
s1

0    X0
1    X1
2    X2
3    X3
Name: X, dtype: object

In [63]:
pd.concat([df1, s1], axis=1)

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [64]:
s2 = pd.Series(['_0', '_1', '_2', '_3'])

In [65]:
pd.concat([df1, s2, s2, s2], axis=1)

    A   B   C   D   0   1   2
0  A0  B0  C0  D0  _0  _0  _0
1  A1  B1  C1  D1  _1  _1  _1
2  A2  B2  C2  D2  _2  _2  _2
3  A3  B3  C3  D3  _3  _3  _3

In [69]:
pd.concat([df1, s1], axis=1, ignore_index=True)

    0   1   2   3   4
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [70]:
s3 = pd.Series([0, 1, 2, 3], name='foo')
s4 = pd.Series([0, 1, 2, 3])
s5 = pd.Series([0, 1, 4, 5])
pd.concat([s3, s4, s5], axis=1)

   0  1  2
0  0  0  0
1  1  1  1
2  2  2  4
3  3  3  5

In [71]:
pd.concat([s3, s4, s5], axis=1, keys=['red','blue','yellow'])

   red  blue  yellow
0    0     0       0
1    1     1       1
2    2     2       4
3    3     3       5

In [72]:
pieces = {'x': df1, 'y': df2, 'z': df3}
pd.concat(pieces)

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [76]:
result=pd.concat(pieces, keys=['z', 'y'])
result

        A    B    C    D
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7

In [77]:
result.index.levels

FrozenList([[u'z', u'y'], [4, 5, 6, 7, 8, 9, 10, 11]])

In [81]:
s2 = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])
result=df1.append(s2, ignore_index=True)     
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

In [82]:
dicts = [{'A': 1, 'B': 2, 'C': 3, 'X': 4}, {'A': 5, 'B': 6, 'C': 7, 'Y': 8}]  
df1.append(dicts, ignore_index=True)

    A   B   C    D   X   Y
0  A0  B0  C0   D0 NaN NaN
1  A1  B1  C1   D1 NaN NaN
2  A2  B2  C2   D2 NaN NaN
3  A3  B3  C3   D3 NaN NaN
4   1   2   3  NaN   4 NaN
5   5   6   7  NaN NaN   8

##merge

In [113]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'], 
                       'A': ['A0', 'A1', 'A2', 'A3'],
                       'B': ['B0', 'B1', 'B2', 'B3']}) 
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [114]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
right

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

In [117]:
pd.merge(left, right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [90]:
df1 = DataFrame({'col1':[0,1], 'col_left':['a','b']})
df1

   col1 col_left
0     0        a
1     1        b

In [118]:
df2 = DataFrame({'col1':[1,2,2],'col_right':[2,2,2]})
df2

   col1  col_right
0     1          2
1     2          2
2     2          2

##join

In [103]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 
                     'B': ['B0', 'B1', 'B2']}, 
                     index=['K0', 'K1', 'K2']) 
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [104]:
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                       index=['K0', 'K2', 'K3']) 
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [102]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [105]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [106]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

In [108]:
pd.merge(left, right, left_index=True, right_index=True, how='left')

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [110]:
pd.merge(left, right, left_index=True, right_index=True, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

#Joining key columns on an index

In [120]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],  
                     'key': ['K0', 'K1', 'K0', 'K1']})  
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

In [122]:
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},   
                      index=['K0', 'K1'])                  
right

     C   D
K0  C0  D0
K1  C1  D1

In [123]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [124]:
pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False)

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#join on multiple keys

In [126]:
 left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                      'B': ['B0', 'B1', 'B2', 'B3'],  
                      'key1': ['K0', 'K0', 'K1', 'K2'],  
                      'key2': ['K0', 'K1', 'K0', 'K1']})
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [129]:
index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'), ('K2', 'K0'), ('K2', 'K1')])
index

MultiIndex(levels=[[u'K0', u'K1', u'K2'], [u'K0', u'K1']],
           labels=[[0, 1, 2, 2], [0, 0, 0, 1]])

In [131]:
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}, index=index)
right

        C   D
K0 K0  C0  D0
K1 K0  C1  D1
K2 K0  C2  D2
   K1  C3  D3

In [132]:
left.join(right, on=['key1', 'key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

In [133]:
left.join(right, on=['key1', 'key2'], how='inner')

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
2  A2  B2   K1   K0  C1  D1
3  A3  B3   K2   K1  C3  D3

##Joining a single Index to a Multi-index

In [139]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']}, 
                     index=Index(['K0', 'K1', 'K2'], name='key')) 
left

      A   B
key
K0   A0  B0
K1   A1  B1
K2   A2  B2

In [140]:
index = pd.MultiIndex.from_tuples([('K0', 'Y0'), ('K1', 'Y1'),('K2', 'Y2'), ('K2', 'Y3')],names=['key', 'Y'])
index

MultiIndex(levels=[[u'K0', u'K1', u'K2'], [u'Y0', u'Y1', u'Y2', u'Y3']],
           labels=[[0, 1, 2, 2], [0, 1, 2, 3]],
           names=[u'key', u'Y'])

In [141]:
 right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']}, 
                       index=index)  
right

         C   D
key Y
K0  Y0  C0  D0
K1  Y1  C1  D1
K2  Y2  C2  D2
    Y3  C3  D3

In [142]:
left.join(right, how='inner')

         A   B   C   D
key Y
K0  Y0  A0  B0  C0  D0
K1  Y1  A1  B1  C1  D1
K2  Y2  A2  B2  C2  D2
    Y3  A2  B2  C3  D3

In [143]:
pd.merge(left.reset_index(), right.reset_index(), on=['key'], how='inner').set_index(['key','Y'])

         A   B   C   D
key Y
K0  Y0  A0  B0  C0  D0
K1  Y1  A1  B1  C1  D1
K2  Y2  A2  B2  C2  D2
    Y3  A2  B2  C3  D3

##Joining with two multi-indexes

In [144]:
index = pd.MultiIndex.from_tuples([('K0', 'X0'), ('K0', 'X1'),('K1', 'X2')],names=['key', 'X']) 
index

MultiIndex(levels=[[u'K0', u'K1'], [u'X0', u'X1', u'X2']],
           labels=[[0, 0, 1], [0, 1, 2]],
           names=[u'key', u'X'])

In [151]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']},index=index) 
left

         A   B
key X
K0  X0  A0  B0
    X1  A1  B1
K1  X2  A2  B2

In [152]:
right

         C   D
key Y
K0  Y0  C0  D0
K1  Y1  C1  D1
K2  Y2  C2  D2
    Y3  C3  D3

In [148]:
 pd.merge(left.reset_index(), right.reset_index(), on=['key'], how='inner').set_index(['key','X','Y'])

            A   B   C   D
key X  Y
K0  X0 Y0  A0  B0  C0  D0
    X1 Y0  A1  B1  C0  D0
K1  X2 Y1  A2  B2  C1  D1

In [163]:
l=left.reset_index()
l

  key   X   A   B
0  K0  X0  A0  B0
1  K0  X1  A1  B1
2  K1  X2  A2  B2

##Overlapping value columns

In [185]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})
left

    k  v
0  K0  1
1  K1  2
2  K2  3

In [176]:
right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})
right

    k  v
0  K0  4
1  K0  5
2  K3  6

In [181]:
pd.merge(left, right, on='k',how='right')

    k  v_x  v_y
0  K0    1    4
1  K0    1    5
2  K3  NaN    6

In [182]:
pd.merge(left, right, on='k', suffixes=['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

In [186]:
left = left.set_index('k')
left

    v
k
K0  1
K1  2
K2  3

In [187]:
right = right.set_index('k')
right

    v
k
K0  4
K0  5
K3  6

In [188]:
left.join(right, lsuffix='_l', rsuffix='_r')

    v_l  v_r
k
K0    1    4
K0    1    5
K1    2  NaN
K2    3  NaN

##Joining multiple DataFrame or Panel objects

In [192]:
 right2 = pd.DataFrame({'v': [7, 8, 9]}, index=['K1', 'K1', 'K2'])
right2

    v
K1  7
K1  8
K2  9

In [194]:
left

    v
k
K0  1
K1  2
K2  3

In [195]:
right

    v
k
K0  4
K0  5
K3  6

In [190]:
left.join([right, right2])

    v_x  v_y   v
K0    1    4 NaN
K0    1    5 NaN
K1    2  NaN   7
K1    2  NaN   8
K2    3  NaN   9
K3  NaN    6 NaN

##Merging Ordered Data

In [197]:
left = DataFrame({'k': ['K0', 'K1', 'K1', 'K2'],
                  'lv': [1, 2, 3, 4], 
                  's': ['a', 'b', 'c', 'd']})
left

    k  lv  s
0  K0   1  a
1  K1   2  b
2  K1   3  c
3  K2   4  d

In [198]:
right = DataFrame({'k': ['K1', 'K2', 'K4'], 'rv': [1, 2, 3]})
right

    k  rv
0  K1   1
1  K2   2
2  K4   3

In [200]:
pd.ordered_merge(left, right, fill_method='ffill', left_by='s')

     k  lv  s  rv
0   K0   1  a NaN
1   K1   1  a   1
2   K2   1  a   2
3   K4   1  a   3
4   K1   2  b   1
5   K2   2  b   2
6   K4   2  b   3
7   K1   3  c   1
8   K2   3  c   2
9   K4   3  c   3
10  K1 NaN  d   1
11  K2   4  d   2
12  K4   4  d   3

In [204]:
?pd.ordered_merge(left, right, fill_method='ffill', left_by='s',)

##Merging together values within Series or DataFrame columns

In [205]:
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan], [np.nan, 7., np.nan]])
df1

     0   1   2
0  NaN   3   5
1 -4.6 NaN NaN
2  NaN   7 NaN

In [206]:
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]], index=[1, 2])
df2

      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

In [207]:
df1.combine_first(df2)

     0   1    2
0  NaN   3  5.0
1 -4.6 NaN -8.2
2 -5.0   7  4.0

In [210]:
df1.update(df2)
df1

      0    1    2
0   NaN  3.0  5.0
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0